<tr class='<%= "finished" if book.finished? %>'>
  <td><%= image_from_amazon(book.amazon_id) %></td>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.description %></td>
  <td><%= book.amazon_id %></td>
  <td>
    <% book.genres.each do |genre| %>
      <%= link_to genre.name, '#', class: 'label label-primary' %>
    <% end %>
  </td>
  <td><%= link_to 'Show', book %></td>
  <td><%= link_to 'Edit', edit_book_path(book) %></td>
  <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
