<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>
<form>
  <legend>Search</legend>
  <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Find a book...'>
</form>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Amazon</th>
      <th>Genres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @books %>
  </tbody>
</table>
<div>
  <h2>Genres</h2>
  <ul>
    <% @genres.each do |genre| %>
      <li>
        <%= link_to genre.name, books_path(genre: genre.name) %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to 'New Book', new_book_path %>
